SWIFT_VERSION = 5.0
DEVELOPMENT_TEAM = XXXXXXXX
ENVIRONMENT = Prod

PRODUCT_NAME = ProjectTemplate
BUNDLE_IDENTIFIER = com.appgroup.sample.ProjectTemplate
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1
PROVISIONING_PROFILE_SPECIFIER_SDK_CORE = match AppStore com.appgroup.sample.ProjectTemplate
APP_ICON = AppIcon
